#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: linear-gradient(#6666ff, #ff99ff, #ccffcc);
}

#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: black;
}

#canvas3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    filter: url("#goo");
    background: url(https://i.pinimg.com/originals/fc/64/c4/fc64c42d1810f615a3c27a8fed0b4bb2.png) no-repeat right;
}